.customerComponentNavbar {
  &.navbar {
    // font-size: 1rem;

    .brd-navbar-title {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      width: 70%;
      text-align: center;
    }
  }

  .brd-message-button{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translatey(-50%);
  }
}