<template name="customerComponentNavbarBottom">
  <nav class="customerComponentNavbarBottom navbar fixed-bottom text-center bg-white p-3 shadow-lg">
    <div class="col">
      <a href="/customer/home"><i class="fas fa-home fa-lg {{#if isHomeActive}}active{{/if}}"></i></a>
    </div>
    <div class="col">
      <a href="/customer/announcements" class="fs-3 text-secondary "><i class="fas fa-camera-retro fa-lg {{#if isAnnouncementActive}}active{{/if}}"></i></a>
    </div>
    <div class="col">
      <a href="/customer/profile"><i class="fas fa-user fa-lg {{#if isProfileActive}}active{{/if}}"></i></a>
    </div>
  </nav>
</template>