.customerComponentNavbarBottom {
  a {
    color: var(--bs-gray);

    .active {
      color: var(--bs-primary);

      &:after {
        position: absolute;
        content: '';
        border-bottom: 4px solid var(--bs-primary);
        display: block;
        width: 66%;
        left: 50%;
        bottom: -17px;
        transform: translatex(-50%);
      }
    }
  }
}